<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Web App</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7448120a44.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- Child elements will set positions based on #page-container -->
    <div id="page-container">
