<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top nav-menu">
  <!-- Navbar Logo -->
  <a class="initials navbar-brand text-light text-uppercase" href="#">
    <span class="h1">J</span>
    <span class="h2 font-weight-bold">Z</span>
  </a>
  <!-- Hamburger Menu Button -->
  <button class="nav-button navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
    <!-- Haburger lines -->
    <div class="bg-light line1"></div>
    <div class="bg-light line2"></div>
    <div class="bg-light line3"></div>
  </button>
  <div id="myNavbar" class="collapse navbar-collapse justify-content-end
  text-uppercase font-weight-bold">
    <!-- Navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="menu-item nav-link m-2" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="menu-item nav-link m-2" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="menu-item nav-link m-2" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="menu-item nav-link m-2" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar End -->
