<!-- Background Video Carousel Start -->
  <div class="contain-header video-container">
    <div id="videoInterval" class="carousel slide" data-ride="carousel" data-interval="7000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <video class="bg-video" autoplay muted loop>
            <source src="assets/videos/selfie.mp4" type="video/mp4">
            Your browser is not supported
          </video>
        </div>
        <div class="carousel-item">
          <video class="bg-video" autoplay muted loop>
            <source src="assets/videos/dancing.mp4" type="video/mp4">
            Your browser is not supported
          </video>
        </div>
        <div class="carousel-item">
          <video class="bg-video" autoplay muted loop>
            <source src="assets/videos/concert.mp4" type="video/mp4">
            Your browser is not supported
          </video>
        </div>
        <div class="carousel-item">
          <video class="bg-video" autoplay muted loop>
            <source src="assets\videos\dancers.mp4" type="video/mp4">
            Your browser is not supported
          </video>
        </div>
      </div>

    </div>
  </div>
  <!-- Background Video Carousel End -->
