<!-- Header layout partial -->
<%- include("partials/header"); -%>
<%- include("partials/bootstrap_navbar"); -%>

<!-- Page Title -->
<h1>About</h1>
<!-- Content value from app.js -->
<p> <%= aboutContent %> </p>











<!-- Footer layout partial -->
<%- include("partials/footer"); -%>
