<!-- Header layout partial -->
<%- include("partials/header"); -%>
<%- include("partials/bootstrap_navbar"); -%>

<!-- Page Title -->
<h1>Contact</h1>
<!-- Content value from app.js -->
<p><%=content%> </p>










<!-- Footer layout partial -->
<%- include("partials/footer"); -%>
