<%- include("partials/header"); -%>

<!-- Header Start -->
<header>
  <%- include("partials/navbar"); -%>
  <%- include("partials/video"); -%>
</header>
<!-- Header End -->


<!-- Expand Your Network Start -->
<section id="network" class="bg-light text-muted py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img id="network-img" class="img-fluid rounded-circle mx-auto" src="assets/images/expand-your-network.jpg" alt="Network">
      </div>
      <div class="network-expand col-md-6">
        <h3>Expand Your Network</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Expand Your Network End -->


<!-- Testimonials Start -->
<section class="testimonials p-3">
  <div class="container-fluid">
    <!-- Title Start -->
    <div class="row text-white text-center">
      <div class="col m-0 pt-3">
        <h1 class="display-4 mb-2">Testimonials</h1>
      </div>
    </div>
    <!-- Title End -->
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div id="customer-testimonials" class="carousel slide" data-ride="carousel">
          <!-- Indicators at the bottom of the slides -->
          <ol class="carousel-indicators">
            <li class="active" data-target="#customer-testimonials" data-slide-to="0"></li>
            <li data-target="#customer-testimonials" data-slide-to="1"></li>
            <li data-target="#customer-testimonials" data-slide-to="2"></li>
            <li data-target="#customer-testimonials" data-slide-to="3"></li>
          </ol>
          <!-- Customer Testimonials -->
          <div class="carousel-inner">
            <!-- Customer 1 -->
            <div class="carousel-item text-center active">
              <img class="img-fluid m-5" src="assets/images/testimonials/testimonial1.jpeg" width="250">
                <blockquote class="blockquote text-white">
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Quam lacus suspendisse faucibus interdum.
                    Bibendum arcu vitae elementum curabitur vitae nunc sed.
                  </p>
                </blockquote>
                <h5 class="text-light text-uppercase font-weight-bold mb-4">Caitlyn</h5>
                <ul class="list-inline mb-5">
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                </ul>
              </div>
              <!-- Customer 2 -->
              <div class="carousel-item text-center">
                <img class="img-fluid m-5" src="assets/images/testimonials/testimonial2.jpg" width="250">
                  <blockquote class="blockquote text-white">
                    <p class="mb-4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Quam lacus suspendisse faucibus interdum.
                      Bibendum arcu vitae elementum curabitur vitae nunc sed.
                    </p>
                  </blockquote>
                  <h5 class="text-light text-uppercase font-weight-bold mb-4">Marcus</h5>
                  <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                  </ul>
              </div>
              <!-- Customer 3 -->
              <div class="carousel-item text-center">
                <img class="img-fluid m-5" src="assets/images/testimonials/testimonial3.png" width="250">
                  <blockquote class="blockquote text-white">
                    <p class="mb-4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Quam lacus suspendisse faucibus interdum.
                      Bibendum arcu vitae elementum curabitur vitae nunc sed.
                    </p>
                  </blockquote>
                  <h5 class="text-light text-uppercase font-weight-bold mb-4">Marissa</h5>
                  <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                  </ul>
              </div>
              <!-- Customer 4 -->
              <div class="carousel-item text-center">
                <img class="img-fluid m-5" src="assets/images/testimonials/testimonial4.jpg" width="250">
                  <blockquote class="blockquote text-white">
                    <p class="mb-4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Quam lacus suspendisse faucibus interdum.
                      Bibendum arcu vitae elementum curabitur vitae nunc sed.
                    </p>
                  </blockquote>
                  <h5 class="text-light text-uppercase font-weight-bold mb-4">Jeff</h5>
                  <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                  </ul>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- Testimonials End -->


  <!-- Memberships Start -->
  <section class="bg-light text-center p-5">
    <div class="container-fluid">
      <!-- Title Start -->
      <div class="row text-muted text-center">
        <div class="col m-4">
          <h1 class="display-4 mb-4">Memberships</h1>
          <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <!-- End of Title -->
      <div class="row">
        <!-- Card 1 -->
        <div class="col-lg-4">
          <div class="card1 card text-light py-4 my-4">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold mb-5">Free</h5>
              <h1 class="display-4"><i class="fas fa-dollar-sign"></i> 0</h1>
              <ul class="list-unstyled">
                <li class="card-item font-weight-bold py-3">Perk 1</li>
                <li class="card-item font-weight-bold py-3">Perk 2</li>
                <li class="card-item font-weight-bold py-3">Perk 3</li>
                <li class="card-item font-weight-bold py-3 border-0">Perk 4</li>
              </ul>
              <a class="price-card-btn btn btn-danger btn-lg p-2 px-4 mb-3 text-uppercase font-weight-bold text-light" href="#">Sign Up!</a>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-lg-4">
          <div class="card3 card text-light py-4 my-4">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold mb-5">Premium</h5>
              <h1 class="display-4"><i class="fas fa-dollar-sign"></i> 29</h1>
              <ul class="list-unstyled">
                <li class="card-item font-weight-bold py-3">Perk 1</li>
                <li class="card-item font-weight-bold py-3">Perk 2</li>
                <li class="card-item font-weight-bold py-3">Perk 3</li>
                <li class="card-item font-weight-bold py-3 border-0">Perk 4</li>
              </ul>
              <a class="price-card-btn btn btn-danger btn-lg p-2 px-4 mb-3 text-uppercase font-weight-bold text-light" href="#">Sign Up!</a>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-lg-4">
          <div class="card2 card text-light py-4 my-4">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold mb-5">Ultimate</h5>
              <h1 class="display-4"><i class="fas fa-dollar-sign"></i> 49</h1>
              <ul class="list-unstyled">
                <li class="card-item font-weight-bold py-3">Perk 1</li>
                <li class="card-item font-weight-bold py-3">Perk 2</li>
                <li class="card-item font-weight-bold py-3">Perk 3</li>
                <li class="card-item font-weight-bold py-3">Perk 4</li>
                <li class="card-item font-weight-bold py-3 border-0">Perk 5</li>
              </ul>
              <a class="price-card-btn btn btn-danger btn-lg p-2 px-4 mb-3 text-uppercase font-weight-bold text-light" href="#">Sign Up!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Memberships End -->


<%- include("partials/footer"); -%>
